<header class="bg-white shadow-sm">
  <div
    class="container mx-auto flex items-center justify-between px-4 py-2 md:px-6 md:py-3 gap-4 flex-wrap"
  >
    <a class="flex items-center gap-2 relative" href="/">
      <img
        src="/images/logo-sin-slogan-azul.webp"
        alt="logo de codini"
        class="w-32 p-1"
      />
    </a>
    <div class="flex-1 max-w-md">
      <div class="relative">
        <img
          src="/svgs/search.svg"
          alt=""
          class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-secondary"
        />
        <input
          class="flex h-10 border border-input px-3 ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 w-full rounded-full bg-gray-100 pl-12 pr-4 py-2 text-sm focus:bg-white focus:outline-none"
          placeholder="Search products..."
          type="search"
        />
      </div>
    </div>
    <nav class="flex items-center gap-4 sm:gap-6">
      <a
        class="text-gray-secondary/85 transition hover:text-gray-secondary hover:underline underline-offset-4"
        href="/productos"
      >
        Productos
      </a>
      <a
        class="text-gray-secondary/85 transition hover:text-gray-secondary hover:underline underline-offset-4"
        href="/sobre-nosotros"
      >
        Sobre nosotros
      </a>
      <a
        class="text-gray-secondary/85 transition hover:text-gray-secondary hover:underline underline-offset-4"
        href="/contacto"
      >
        Contacto
      </a>
      <a
        class="text-sm font-medium hover:underline underline-offset-4 mr-0"
        href="/cart"
      >
        <img src="/svgs/cart.svg" class="text-gray-secondary" />
      </a>
    </nav>
  </div>
</header>
