<header class="bg-white shadow-sm">
  <div
    class="container mx-auto flex items-center justify-center sm:justify-between px-4 py-2 md:px-6 md:py-3 gap-4 flex-wrap"
  >
    <a class="flex items-center gap-2 relative" href="/">
      <img
        src="/images/logo-sin-slogan-azul.webp"
        alt="logo de codini"
        class="w-32 p-1"
      />
    </a>
    <nav class="flex items-center gap-4 sm:gap-6">
      <a
        class="text-gray-secondary/85 transition hover:text-gray-secondary hover:underline underline-offset-4"
        href="/productos"
      >
        Productos
      </a>
      <a
        class="text-gray-secondary/85 transition hover:text-gray-secondary hover:underline underline-offset-4"
        href="/sobre-nosotros"
      >
        Sobre nosotros
      </a>
      <a
        class="text-gray-secondary/85 transition hover:text-gray-secondary hover:underline underline-offset-4"
        href="/contacto"
      >
        Contacto
      </a>
      <div class="relative">
        <a
          class="text-sm font-medium hover:underline underline-offset-4 mr-0"
          href="/cart"
        >
          <img src="/svgs/cart.svg" class="text-gray-secondary" />
        </a>
        <span
          class="absolute top-0 right-0 -mt-2 -mr-4 bg-red-500 text-white rounded-full w-5 h-5 flex items-center justify-center text-md"
          id="count-products">0</span
        >
      </div>
    </nav>
  </div>

  <script>
    const countProducts = document.getElementById('count-products')!

    function updateProductCount() {
      const cart = JSON.parse(localStorage.getItem('cart') || '[]')
      const totalProducts = cart.reduce(
        (acc: any, product: any) => acc + product.quantity,
        0
      )
      if (totalProducts > 0) {
        countProducts.textContent = totalProducts
        countProducts.classList.remove('hidden')
      } else {
        countProducts.classList.add('hidden')
      }
    }
    updateProductCount()

    window.addEventListener('storage', (e) => {
      updateProductCount()
    })
  </script>
</header>
