<div>
  <label for="SortBy" class="block text-xs font-medium text-gray-700">
    Ordenar por
  </label>

  <select id="SortBy" class="mt-1 rounded border-gray-300 text-sm">
    <option>Sort By</option>
    <option value="Precio, descendente">Price, DESC</option>
    <option value="Precio, ascendente">Price, ASC</option>
  </select>
</div>
