<div class="grid h-screen place-content-center bg-white px-4">
  <div class="text-center">
    <h1 class="text-9xl font-black text-gray-200">404</h1>

    <p
      class="text-2xl font-bold tracking-tight text-gray-secondary sm:text-4xl"
    >
      Uh-oh!
    </p>

    <p class="mt-4 text-gray-500">No se pudo encontrar esta p&aacute;gina</p>

    <a
      href="/productos"
      class="mt-6 inline-block rounded bg-pink-section/80 px-5 py-3 text-sm font-medium text-white hover:bg-pink-section focus:outline-none focus:ring"
    >
      Hecha un vistazo a nuestros productos
    </a>
  </div>
</div>
