---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Codini">

  <div class="mt-14 ml-12 pl-0"><a class="text-slate-400" href="">Inicio</a><a class="text-black font-bold" href="#"> / Contacto</a></div>
  
  <main>
      <h1 class="text-black text-3xl font-bold flex items-center justify-center">Contacto</h1>
      <h3 class="text-black font-bold mt-10 text-sm">Venta de repuestos</h3>
      <input
          class="flex rounded-s-3xl border border-blue-primary"
          placeholder="Nombre completo:"
          type="text"
        />
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
 
  
</style>