---
import Layout from '../layouts/Layout.astro'
import Gallery from '../components/home/Gallery.astro'
import CategoryCarrousel from '../components/home/CategoryCarrousel.astro'
import ProductCard from '../components/shared/products/ProductCard.astro'
import ProductContainer from '../components/shared/products/ProductContainer.astro'

import { getProducts } from '../utils/products'

import type { Product } from '../types'

const products = await getProducts()
---

<Layout title="Codini">
  <h1 class="hidden">Codini</h1>
  <Gallery />
  <main>
    <h2 class="text-gray-secondary text-3xl font-bold mb-6">
      Explorá nuestras categorías
    </h2>
    <CategoryCarrousel />
    <h2 class="text-gray-secondary text-3xl font-bold mb-6 pt-20">
      Productos destacados
    </h2>
    <ProductContainer>
      {
        products.items.map((product: any) => (
          <ProductCard
            product={
              {
                ...product.fields,
                img: product.fields.img.fields.file.url,
              } as Product
            }
          />
        ))
      }
    </ProductContainer>
  </main>
</Layout>
