---
import Layout from '../layouts/Layout.astro'
import Gallery from '../components/home/Gallery.astro'
---

<Layout title="Codini">
  <Gallery />
  <main></main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
