---
import Layout from '../layouts/Layout.astro'
---

<Layout title="Codini">

  <div class="mt-14 ml-12 pl-0"><a class="text-slate-400" href="">Inicio</a><a class="text-black font-bold" href="#"> / ¿Quiénes somos?</a></div>
  
  <main>
      <h1 class="text-black text-3xl font-bold ml-0  mt-32">¿Quiénes somos?</h1>
      <p class="text-black font-bold pt-20">Somos Codini, una empresa que se apasiona en hacer la vida más simple a sus consumidores</p>
      <p class="text-black pt-8">En Codini, con más de 70 años de trayectoria brindando productos electrodomésticos, supimos conseguir un nombre sinónimo 
      de calidad y confianza, desarrollando una estrategia global de crecimiento permanente basada en detectar y satisfacer 
      necesidades de nuestros clientes.</p>
      <p class="text-black pt-2">En nuestra planta de 20.000 m2 en San Francisco, Córdoba, diseñamos, producimos y distribuimos electrodomésticos bajo un 
      intensivo Sistema de Control de Calidad, siendo una auténtica fábrica integral</p>
      <p class="text-black pt-8 pb-20">Nuestra trayectoria, capacidades y calidad nos permiten crecer de manera contínua, y competir tanto en el mercado local como 
      en el mercado internacional, estando presentes en varios países de la región</p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
 
  
</style>
