<footer class="bg-gray-100 py-8">
  <div class="container mx-auto px-4 md:px-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
      <div class="flex flex-col items-start gap-4">
        <h3 class="text-lg font-semibold">Conecta con nosotros</h3>
        <div class="flex items-center gap-4">
          <a aria-label="Instagram" href="#">
            <img
              src="/svgs/brand-instagram.svg"
              alt="instagram logo"
              class="w-6 h-6 text-gray-secondary"
            />
          </a>
          <a aria-label="Facebook" href="#">
            <img
              src="/svgs/brand-facebook.svg"
              alt="facebook logo"
              class="w-6 h-6 text-gray-secondary"
            />
          </a>
          <a aria-label="Linkedin" href="#">
            <img
              src="/svgs/brand-linkedin.svg"
              alt="linkedin logo"
              class="w-6 h-6 text-gray-secondary"
            />
          </a>
          <a
            aria-label="Whatsapp"
            href="https://wa.me/5493564331009"
            target="_blank"
          >
            <img
              src="/svgs/brand-whatsapp.svg"
              alt="whatsapp logo"
              class="w-6 h-6 text-gray-secondary"
            />
          </a>
        </div>
        <span aria-label="telephone" class="flex gap-2">
          <img
            src="/svgs/phone.svg"
            alt="telephone logo"
            class="w-6 h-6 text-gray-secondary"
          />
          +5403564425200
        </span>
      </div>
      <div class="flex flex-col items-start gap-4">
        <h3 class="text-lg font-semibold">Companía</h3>
        <a class="text-gray-500 hover:text-gray-secondary" href="#">
          Sobre nosotros
        </a>
        <a class="text-gray-500 hover:text-gray-secondary" href="#">
          Contacto
        </a>
      </div>
      <div class="flex flex-col items-start gap-4">
        <h3 class="text-lg font-semibold">Legal</h3>
        <a class="text-gray-500 hover:text-gray-secondary" href="#">Garantía</a>
        <a class="text-gray-500 hover:text-gray-secondary" href="#"
          >Soporte Técnico</a
        >
        <a class="text-gray-500 hover:text-gray-secondary" href="#"
          >¿Cómo Comprar?</a
        >
      </div>
    </div>
  </div>
</footer>
