---
import ProductContainer from './ProductContainer.astro'

const categories = [
  {
    slug: 'lavarropas-automaticos',
    name: 'Lavarropas automáticos',
  },
  {
    slug: 'lavarropas-semiautomaticos',
    name: 'Lavarropas semiautomáticos',
  },
  {
    slug: 'horno-electrico',
    name: 'Horno eléctrico',
  },
  {
    slug: 'secarropas',
    name: 'Secarropas',
  },
  {
    slug: 'ventiladores-de-techo',
    name: 'Ventiladores de techo',
  },
  {
    slug: 'ventiladores-de-pie',
    name: 'Ventiladores de pie',
  },
]
---

<section>
  <div class="mx-auto">
    <div
      class="mt-4 ml-4 lg:mt-8 lg:ml-12 lg:grid lg:grid-cols-4 lg:items-start"
    >
      <div class="space-y-4 max-w-60">
        <div>
          <p class="block text-sm font-bold text-gray-700">
            Filtros según la categoría
          </p>

          <ul class="mt-2">
            {
              categories.map((category: { slug: string; name: string }) => (
                <li>
                  <a
                    href={`/categorias/${category.slug}`}
                    class="text-sm text-gray-700 hover:text-gray-700 transition hover:underline"
                  >
                    {category.name}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </div>

      <div class="lg:col-span-3">
        <ProductContainer>
          <slot />
        </ProductContainer>
      </div>
    </div>
  </div>
</section>
