<div class="flex flex-col items-start gap-4">
  <h3 class="text-lg font-semibold">Conecta con nosotros</h3>
  <div class="flex items-center gap-4">
    <a aria-label="Instagram" href="#">
      <img
        src="/svgs/brand-instagram.svg"
        alt="instagram logo"
        class="w-6 h-6 text-gray-secondary"
      />
    </a>
    <a aria-label="Facebook" href="#">
      <img
        src="/svgs/brand-facebook.svg"
        alt="facebook logo"
        class="w-6 h-6 text-gray-secondary"
      />
    </a>
    <a aria-label="Linkedin" href="#">
      <img
        src="/svgs/brand-linkedin.svg"
        alt="linkedin logo"
        class="w-6 h-6 text-gray-secondary"
      />
    </a>
    <a aria-label="Whatsapp" href="https://wa.me/5493564331009" target="_blank">
      <img
        src="/svgs/brand-whatsapp.svg"
        alt="whatsapp logo"
        class="w-6 h-6 text-gray-secondary"
      />
    </a>
  </div>
  <span aria-label="telephone" class="flex gap-2">
    <img
      src="/svgs/phone.svg"
      alt="telephone logo"
      class="w-6 h-6 text-gray-secondary"
    />
    +5403564425200
  </span>
  <span aria-label="email" class="flex gap-2">
    <img
      src="/svgs/mail.svg"
      alt="email logo"
      class="w-6 h-6 text-gray-secondary"
    />
    atencionalcliente@codini.com.ar
  </span>
  <span aria-label="email" class="flex gap-2">
    <img
      src="/svgs/mail.svg"
      alt="email logo"
      class="w-6 h-6 text-gray-secondary"
    />
    tienda@codini.com.ar
  </span>
  <span aria-label="email" class="flex gap-2">
    <img
      src="/svgs/mail.svg"
      alt="email logo"
      class="w-6 h-6 text-gray-secondary"
    />
    service@codini.com.ar
  </span>
</div>
