---
interface Props {
  title: string
  links: Array<{
    label: string
    url: string
  }>
}

const { title, links } = Astro.props
---

<div class="flex flex-col items-start gap-4">
  <h3 class="text-lg font-semibold">{title}</h3>
  {
    links.map(({ label, url }) => (
      <a class="text-gray-500 hover:text-gray-secondary" href={url}>
        {label}
      </a>
    ))
  }
</div>
